
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d2b48c; 
    display: flex;
    flex-direction: column;
    height: 100vh; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden; 
}


header, footer {
    flex-shrink: 0; 
    z-index: 10;
}

header {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #4a331a;
}

footer {
    background-color: #4a331a; 
    padding: 20px;
    display: flex;
    justify-content: center;
}


main {
    flex-grow: 1; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
}

.contenedor-juego {
    width: 100%;
    height: 100%;
}

.escena {
    display: none !important; 
    width: 100%;
    height: 100%;
}

.escena.activa {
    display: block !important; 
}


#form-registro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 40px auto; 
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input {
    padding: 8px;
    border: 1px solid #999;
    background-color: #e8f0fe;
    border-radius: 2px;
}


.info-superior-heroe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.retrato-heroe {
    width: 150px;
    height: 150px;
    border: 3px solid #4a331a;
    background-color: #333;
}

#mostrarNombre {
    font-size: 2.5rem;
    color: #000;
}

.grid-estadisticas {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto; /* Centrado manual */
}

.stat-card {
    background-color: #d2b48c; 
    padding: 20px; 
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    border: 1px solid rgba(0,0,0,0.1);
}


#escena-mercado.activa {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.grid-productos {
    width: 100%;
    flex-grow: 1; 
    overflow-y: auto; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.tarjeta-producto {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #5d4037;
}

.img-producto {
    width: 120px;
    height: 120px;
    object-fit: contain;
}


.btn-primario {
    display: block;
    margin: 20px auto;
    background-color: #0c6e2b; 
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0;
}

.btn-primario:hover {
    background-color: #0a5a23;
}

#contenedor-inventario {
    display: flex;
    gap: 10px;
}

.espacio-inventario {
    width: 60px;
    height: 60px;
    background-color: #d2b48c;
    border: 3px solid #2a1a0a;
    border-radius: 4px;
}

.oculto {
    display: none !important;
}


#escena-enemigos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.grid-enemigos {
   width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center; 
    max-width: 1100px; 
    margin: 0 auto; 
    gap: 30px;
    padding: 40px;
}

.tarjeta-enemigo {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #5d4037;
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
    text-align: center;
}


.tarjeta-enemigo.jefe {
    border-color: #8b0000; 
    background-color: #fffafa;
}

.img-enemigo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.info-enemigo p {
    margin: 5px 0;
    font-size: 1.1rem;
    font-weight: bold;
}


.arena-duelo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    width: 100%;

}

.retrato-batalla {
    width: 150px;
    height: 150px;
    border: 4px solid #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    overflow: hidden;

}



.retrato-batalla img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.vs-separador {
    font-size: 4rem;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 10px #000;

}

.stats-batalla-mini {
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 1.2rem;
    background: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 5px;

}



.caja-resultado-batalla {
    color: white;
    text-align: center;
    margin: 20px 0;

}



.caja-resultado-batalla h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;

}



.caja-resultado-batalla p {
    font-size: 1.5rem;

}

#escena-ProRookie {
    width: 100%;
    height: 100%;
    text-align: center; 
    padding-top: 50px; 
}

#contenedorProRookie {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
}

#contenedorProRookie h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #4a331a;
}

.caja-registro {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    border: 2px dashed #4a331a;
}

.caja-registro h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.caja-registro p {
    font-size: 1.3rem;
    font-weight: bold;
}


#btn-ir-ranking {
    margin-top: 20px;
}



#escena-ranking {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
}


#contenedor-TablaFinal {
    width: 90%;
    max-width: 700px;  
    max-height: 400px; 
    margin: 20px auto;
    overflow-y: auto;  
    border: 2px solid #fff;
    background-color: #4a331a;
}


.tabla-ranking {
    width: 100%;
    border-collapse: collapse;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

.tabla-ranking thead {
    position: sticky; 
    top: 0;
    background-color: #ffeb3b; 
    color: black;
    z-index: 5;
}

.tabla-ranking th, .tabla-ranking td {
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}


.tabla-ranking tbody tr:nth-child(odd) {
    background-color: #d2b48c;
    color: black;
}

.tabla-ranking tbody tr:nth-child(even) {
    background-color: #4a331a; 
    color: white;
}